h1 {
    text-align: center;
    font-size: 4em;
}

li {
    list-style: none;
}
.header {
    display: flex;
    justify-content: center;
    gap:100px;
    font-size: 2em;
    align-items: center;
}
.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainText {
    margin-top: 40px;
    width: 400px;
    text-align: center;
    
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
html {
    background-image: url("images/burger.jpg");
    color: white;
    font-family: monospace;
     /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /*height: 100%;
  overflow: hidden; */
}

.topHours {
    font-weight: bold;
    font-size: 2em;
}



img {
    width: 410px;
    height: 300px;
    border: 5px solid black;
}

.menuItem{
    width: 410px;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}

.hmebtn:hover ,
.menubtn:hover,
.contactbtn:hover {
    cursor: pointer;
    text-decoration: underline;

}

.hide {
    display: none;
}

.show {
    display: block;
}

#homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 6em;
}